
<link rel="stylesheet" href="/assets/css/styles.css">
<!-- Masthead-->
<header class="masthead transparent text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5 b5 burn" src="assets/img/oxy.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0 grey-text">OXI OK</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line grey"></div>
            <div class="divider-custom-icon"><i class="fa fa-star grey-text" aria-hidden="true"></i></div>
            <div class="divider-custom-line grey"></div>
        </div>
        <div class="text-center mt-1">
            <a class="btn btn-xl btn-outline-light cyan darken-1 shadow-p roboto" routerLink="/listProvider">
                <i class="fa fa-search" aria-hidden="true"></i>
                Buscar Oxigeno
            </a>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0 grey-text">No estás solo en tu lucha, estamos juntos en esto</p>
    </div>
</header>
