<div class="container">
  <div id="alert"></div>
  <br><br>
    <div>
        <form [formGroup]="datosForm" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Ruc</label>
                    <input type="text"   class="form-control" id="inputEmail4" formControlName="ruc" disabled readonly >
                </div>
                <div class="form-group col-md-8">
                    <label for="inputPassword4">Nombre de la Empresa</label>
                    <input type="text" class="form-control" id="inputPassword4" formControlName="name"  >
                </div>
             </div>
            <div class="form-row"> 
                <div class="form-group col-md-4">
                    <label for="inputState">Distrito</label>
                    <select id="SEDE" class="form-control" formControlName="district">
                      <option value='ANCÓN'>ANCÓN</option>
                      <option value='ATE'>ATE</option>
                      <option value='BARRANCO'>BARRANCO</option>
                      <option value='BREÑA'>BREÑA</option>
                      <option value='CARABAYLLO'>CARABAYLLO</option>
                      <option value='CHACLACAYO'>CHACLACAYO</option>
                      <option value='CHORRILLOS'>CHORRILLOS</option>
                      <option value='CIENEGUILLA'>CIENEGUILLA</option>
                      <option value='COMAS'>COMAS</option>
                      <option value='EL AGUSTINO'>EL AGUSTINO</option>
                      <option value='INDEPENDENCIA'>INDEPENDENCIA</option>
                      <option value='JESÚS MARÍA'>JESÚS MARÍA</option>
                      <option value='LA MOLINA'>LA MOLINA</option>
                      <option value='LA VICTORIA'>LA VICTORIA</option>
                      <option value='LIMA'>LIMA</option>
                      <option value='LINCE'>LINCE</option>
                      <option value='LOS OLIVOS'>LOS OLIVOS</option>
                      <option value='CHOSICA'>CHOSICA</option>
                      <option value='LURÍN'>LURÍN</option>
                      <option value='MAGDALENA DEL MAR'>MAGDALENA DEL MAR</option>
                      <option value='MIRAFLORES'>MIRAFLORES</option>
                      <option value='PACHACÁMAC'>PACHACÁMAC</option>
                      <option value='PUCUSANA'>PUCUSANA</option>
                      <option value='PUEBLO LIBRE'>PUEBLO LIBRE</option>
                      <option value='PUENTE PIEDRA'>PUENTE PIEDRA</option>
                      <option value='PUNTA HERMOSA'>PUNTA HERMOSA</option>
                      <option value='PUNTA NEGRA'>PUNTA NEGRA</option>
                      <option value='RÍMAC'>RÍMAC</option>
                      <option value='SAN BARTOLO'>SAN BARTOLO</option>
                      <option value='SAN BORJA'>SAN BORJA</option>
                      <option value='SAN ISIDRO'>SAN ISIDRO</option>
                      <option value='SAN JUAN DE LURIGANCHO'>SAN JUAN DE LURIGANCHO</option>
                      <option value='SAN JUAN DE MIRAFLORES'>SAN JUAN DE MIRAFLORES</option>
                      <option value='SAN LUIS'>SAN LUIS</option>
                      <option value='SAN MARTIN DE PORRES'>SAN MARTIN DE PORRES</option>
                      <option value='SAN MIGUEL'>SAN MIGUEL</option>
                      <option value='SANTA ANITA'>SANTA ANITA</option>
                      <option value='SANTA MARÍA DEL MAR'>SANTA MARÍA DEL MAR</option>
                      <option value='SANTA ROSA'>SANTA ROSA</option>
                      <option value='SANTIAGO DE SURCO'>SANTIAGO DE SURCO</option>
                      <option value='SURQUILLO'>SURQUILLO</option>
                      <option value='VILLA EL SALVADOR'>VILLA EL SALVADOR</option>
                      <option value='VILLA MARIA DEL TRIUNFO'>VILLA MARIA DEL TRIUNFO</option>
                    </select>
                  </div>           
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Dirección</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Dirección" formControlName="address">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Email</label>
                    <input type="text" class="form-control"  placeholder="Email" name="email"  formControlName="email" disabled readonly>
                </div>               
            </div> 
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre del Representante</label>
                    <input type="text" class="form-control" id="inputEmail4" formControlName="firtsname_representative" >
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Apellidos</label>
                    <input type="text" class="form-control" id="inputPassword4" formControlName="lastname_representative" >
                </div>
             </div>           
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Activo
                </label>
              </div>
            </div>
            <button class="btn btn-primary" (click)="ActualizaProveedores()">Guardar</button>
          </form>

    </div>
</div>