<div class="row">  
    <div class="col-md-12">
        <nav class="nav shadow-p p-2 mb-2 white cyan lighten-2 roboto">
            <h5 class="roboto white-text">
                Reservas
            </h5>
        </nav>
    </div>
    <div class="col-md-12">
    </div>
    <div class="col-md-4" *ngFor="let item of reserves; index as i;">
        <div class="card mb-2 shadow-p" style="width: 100%;">
            <div class="card-body roboto">
                <p><strong>Proveedor:</strong> {{item.provider}}</p>
                <p><strong>Producto:</strong> {{item.name}}</p>
                <p><strong>Estado :</strong> {{getStatus(item.stateReserve)}}</p>
                <p><strong>Precio :</strong> S/. {{item.price * item.quantity}}</p>
                <!--<p class="center-text">
                    <a href="" class="btn btn-light roboto">Ver detalle</a>
                </p>-->
                
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div *ngIf="reserves.length < 1">
            <div routerLink="/listProvider" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Uppss!</strong> Aun no tienes reservas para mostrar.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>
