<div class="container">
    <div>
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/registerprovider']" >Nuevo Registro</button>
    </div>
</div>
<div class="container mt-5 ">
    <div class="table-responsive roboto ">
        <table id="example" class="table table-striped table-bordered shadow-p" style="width:100%">
          <thead>
            <tr class="text-center">
              <th>Empresa</th>
              <th>Distrito</th>
              <th>Dirección</th>
              <th>Estado</th>   
              <th>Editar</th>           
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Empresa Salvame</td>
              <td >Chorrillos</td>
              <td>Av Principal 500</td>
              <td>Activo</td>
              <td><button type="button" class="btn btn-link" [routerLink]="['/editprovider']" >Edit</button></td>
            </tr>
            <tr>
              <td>Empresa Oxigen</td>
              <td>Villa El Salvador</td>
              <td>Av El sol 200</td>
              <td>Activo</td>
              <td><button type="button" class="btn btn-link" [routerLink]="['/editprovider']">Edit</button></td>
            </tr>
            <tr>
              <td>Empresa Prueba</td>
              <td>San Borja</td>
              <td>San Borja Norte 541</td>
              <td>Activo</td>
              <td><button type="button" class="btn btn-link" [routerLink]="['/editprovider']">Edit</button></td>
            </tr>                             
          </tbody>
        </table>
      </div>
  </div>