<div class="container">
    <div class="row">
        <div class="col-lg-3 p-4 text-left" >    
            <select id="inputState" class="form-control" (change)="onChange($event.target.value)">
                <option selected>Seleccione Distrito</option>
                  <option>Ancón</option>
                  <option>Ate</option>
                  <option>Barranco</option>
                  <option>Breña</option>
                  <option>Carabayllo</option>
                  <option>Chaclacayo</option>
                  <option>Chorrillos</option>
                  <option>Cieneguilla</option>
                  <option>Comas</option>
                  <option>El Agustino</option>
                  <option>Independencia</option>
                  <option>Jesús María</option>
                  <option>La Molina</option>
                  <option>La Victoria</option>
                  <option>Lima</option>
                  <option>Lince</option>
                  <option>Los Olivos</option>
                  <option>Chosica</option>
                  <option>Lurín</option>
                  <option>Magdalena del Mar</option>
                  <option>Miraflores</option>
                  <option>Pachacámac</option>
                  <option>Pucusana</option>
                  <option>Pueblo Libre</option>
                  <option>Puente Piedra</option>
                  <option>Punta Hermosa</option>
                  <option>Punta Negra</option>
                  <option>Rímac</option>
                  <option>San Bartolo</option>
                  <option>San Borja</option>
                  <option>San Isidro</option>
                  <option>San Juan de Lurigancho</option>
                  <option>San Juan de Miraflores</option>
                  <option>San Luis</option>
                  <option>San Martin de Porres</option>
                  <option>San Miguel</option>
                  <option>Santa Anita</option>
                  <option>Santa María del Mar</option>
                  <option>Santa Rosa</option>
                  <option>Santiago de Surco</option>
                  <option>Surquillo</option>
                  <option>Villa el Salvador</option>
                  <option>Villa Maria del Triunfo</option>
              </select>            
        </div>
    </div>
    <div class="row roboto">             
        <div class="col-lg-6" *ngFor="let p of providers" >
            <div class="card mb-2 shadow-p" style="width: 100%;" [routerLink]="['/provider/'+p.id]">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3  text-center">
                            <img src="{{p.image}}" class="img-thumbnail img-placeholder shadow-p"
                                style="background-image: url({{p.image}});">
                            <br><br>
                        </div>                       
                            <div class="col-sm-9" >
                                <h5 class="card-title">{{p.name}}</h5>
                                <p class="card-text" 
                                    style="max-width: 100%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;"
                                >Dirección: {{p.address}}, {{p.district}}</p>
                                <p class="card-text">RUC: {{p.ruc}}</p>
                                <p class="card-text">{{p.email}} </p>                    
                                                                                                                              
                                <div class="card-img-overlay text-right ">
                                    <img src="{{p.image}}"  class="img-thumbnail" style="height: 40px; width: 40px;" >                                   
                                    <br><br>                                    
                                    <p class="card-text">Disponible 
                                        <i *ngIf="p.openOrClosed == 'True'" class="fa fa-dot-circle-o green-text" aria-hidden="true"></i> 
                                        <i *ngIf="p.openOrClosed != 'True'" class="fa fa-dot-circle-o red-text" aria-hidden="true"></i>                                       
                                    </p>    
                                    <p>{{p.distance}} Km</p>
                                    
                                </div>     
                        </div>                    
                    </div>
                </div>                             
            </div>              
        </div> 
    </div>
</div>