<div style="margin-top: 25px;"></div>
<div style="padding:5px;text-align: justify;">
    <h2>Términos y Condiciones</h2>
    <br><br>
    <p class="roboto">
        Por medio del presente documento, <strong>OXI OK</strong> S.A.C. (en adelante, <strong>oxi ok</strong>) con domicilio en Av. Arequipa N° 799, distrito Lince, provincia y departamento de Lima, pone al alcance de los clientes los Términos y Condiciones para el uso de la web, mediante la cual se podrá adquirir determinados productos.
    </p>
    <p class="roboto">
        OXI OK se reserva el derecho de actualizar y/o modificar los Términos y Condiciones que detallamos a continuación en cualquier momento, sin previo aviso. Por esta razón recomendamos revisar los Términos y Condiciones cada vez que utilice la página web.
    </p>
    <p class="roboto">
        Ante cualquier queja, reclamo, solicitud o consulta, puedes enviarnos un correo electrónico a <a href="mailto:atencionalcliente@oxiok.com.pe" class="black-text">atencionalcliente@oxiok.com.pe</a>.
    </p>
    <p class="roboto">
        OXI OK como empresa responsable, se compromete a adoptar las precauciones y medidas que sean necesarias para poner a su disposición toda la información relevante sobre sus productos para que así usted pueda tomar una decisión de consumo adecuada. No obstante, le informamos que las imágenes de los productos que aparecen en este sitio web son referenciales, y que la comercialización de estos se encuentra sujeto al stock disponible. 
    </p>
    <p class="roboto">
        Reafirmando lo anterior, recalcamos que la información relativa a precios, cualidades y características de los productos, su disponibilidad, condiciones de venta (entre otras) será establecida y actualizada por OXI OK, la cual realizará sus mayores esfuerzos a fin de brindar información correcta y precisa. 
    </p>
    <p class="roboto">
        Todos los productos adquiridos en este sitio web se entregarán por el proveedor seleccionado al domicilio que el cliente haya indicado en el formulario a través del cual proporcionó sus datos. Los pedidos se entregarán en el plazo que seleccionó en el formulario de reserva. 
    </p>
</div>
