.roboto{
    font-family: 'Roboto', sans-serif;
}

.shadow-p{
    box-shadow: 0px 6px 6px hsl(0deg 0% 50% / 15%);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    
}

.placeholder-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}