<div class="row">  
    <div class="col-md-12">
        <nav class="nav shadow-p p-2 mb-2 white cyan lighten-2">
            <h5 class="roboto white-text">
                {{provider.name}}
            </h5>
        </nav>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <h5 class="roboto">{{product.name}}</h5>
                <br>
            </div>
            <div class="col-4"  style="text-align: center;">
                <img class="placeholder-image" style="background-image:url({{product.image}});mix-blend-mode: darken;" src="/assets/img/cuadro.png" alt="">
            </div>
            <div class="col-4">
                <table class="roboto" style="width: 100%;font-size: 80%;">
                    <tbody>
                        <tr>
                            <th style="text-align: left;">Cantidad:</th>
                            <th style="text-align: right;">Precio Unitario:</th>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <form [formGroup]="pedidoForm">
                                    <input min="0" style="max-width: 60px;" 
                                        type="number" class="form-control"
                                        formControlName="cantidad" 
                                    >
                                </form>
                            </td>
                            <td class="text-right">S/. {{product.price}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th style="text-align: right;font-size:200%;">Precio Total</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-right roboto"  style="font-weight: 600;font-size:200%;">S/. {{multiply(product.price,pedidoForm.value.cantidad) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 text-center">
                <br>
                <button (click)="crearReserva()" type="button" class="btn btn-light shadow-p font-weight-normal roboto cyan lighten-2 white-text" style="cursor: pointer;">Reservar</button>
            </div> 
        </div>
    </div>
    <div class="col-md-12">
        <br><br><br>
        <h6 class="roboto">Otros Productos</h6>
    </div>
    <div class="col-md-4" *ngFor="let item of products; index as i;">
        <div class="card mb-2 shadow-p" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <img class="placeholder-image" style="background-image:url({{item.image}})" src="/assets/img/cuadro.png" alt="">
                    </div>
                    <div class="col-9">
                        <ul class="list-provider">
                            <li><strong>{{item.name}}</strong></li>
                            <li><strong>Precio</strong> S/. {{item.price}}</li>
                            <li>
                                <br>
                            </li>
                            <button (click)="reserve(item)" type="button" class="btn btn-light shadow-p font-weight-normal roboto">Reservar</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="products.length < 1">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>info!</strong> El proveedor {{provider.name}} no tiene más productos para mostrar.
            
        </div>
    </div>
</div>