<div class="container mt-5 ">
    <div class="table-responsive roboto ">
        <table id="example" class="table table-striped table-bordered shadow-p" style="width:100%">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Fec. Reserva</th>
              <th>Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Empresa Salvame</td>
              <td >28/03/2021</td>
              <td>Carlos</td>
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021</td>
              <td>Carlos</td>
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021</td>
              <td>Carlos</td>
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021</td>
              <td>Carlos</td>
            </tr>
            <tr>
              <td>Empresa Salvame 2</td>
              <td>28/03/2021</td>
              <td>Alejandro</td>
            </tr>                                      
          </tbody>
        </table>
      </div>
  </div>