<div class="container mt-5 ">
    <div class="table-responsive roboto ">
        <table id="example" class="table table-striped table-bordered shadow-p" style="width:100%">
          <thead>
            <tr class="text-center">
              <th>Empresa</th>
              <th>Fecha Reserva</th>
              <th>Usuario</th>
              <th>Producto</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Empresa Salvame</td>
              <td >28/03/2021 10:00:00</td>
              <td>Kenny</td>
              <td>Balon Oxigeno 10m3</td>
              <td>2500</td>
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021 11:00:00</td>
              <td>Paul</td>
              <td>Balon Oxigeno 15m3</td>
              <td>3000</td>
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021 12:03:00</td>
              <td>Carlos</td>
              <td>Balon Oxigeno 10m3</td>
              <td>2500</td>              
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021 13:00:03</td>
              <td>Carlos</td>
              <td>Balon Oxigeno 10m3</td>
              <td>2500</td>              
            </tr>
            <tr>
              <td>Empresa Salvame</td>
              <td>28/03/2021 13:30:00</td>
              <td>Alejandro</td>
              <td>Balon Oxigeno 30m3</td>
              <td>3500</td>              
            </tr>                                      
          </tbody>
        </table>
      </div>
  </div>