<div class="roboto" style="width: 100%;">
    <br><br><br>
    
</div>
<div class="row roboto ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card p-3 shadow-p">
            <div class="roboto">
                <h3 class="roboto text-center">Mi Empresa</h3>
                <p class="roboto text-center">
                    Regístrate para tener información de balones de Oxigeno
                </p>
            </div>
            <hr>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Número de movil o correo electrónico">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre Completo">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block">Registrarse</button>
                </div>
            </form>
            <hr>
            <p class="roboto text-center">
                Al registrarse acepta nuestra <strong>Condiciones</strong> y <strong>Políticas de privacidad</strong>
            </p>
            <p class="text-center">Tienes una cuenta <a class="btn btn-link roboto">Ingresa</a></p>
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="roboto col-md-12">
        
    </div>
</div>
<div class="roboto" style="width: 100%;">
    
</div>
