<div class="roboto" style="width: 100%;">
    <br><br>
    
</div>
<div id="alert"></div>
<div class="row roboto ">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
        <div class="card p-3 shadow-p" style="position: relative;">
            <div class="progress" style="position: absolute;top: 0;left: 0;width: 100%;height: 10px;border-radius: 0;" [style]="isLoading ? 'opacity:1;' : 'opacity:0;'">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div class="roboto">
                <h3 class="roboto text-center">OXI OK</h3>
                <p class="roboto text-center">
                    Regístrate para tener información de balones de Oxigeno
                </p>
            </div>
            <hr>
            <form [formGroup]="userForm">
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Correo electrónico" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nombre Completo" formControlName="name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Contraseña" formControlName="password">
                </div>
                <div class="form-group">
                    <select formControlName="role" class="form-control" aria-describedby="emailHelp">
                        <option *ngFor="let rol of roles" [ngValue]="rol">
                          {{ rol.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button routerlink="/listProvider" class="btn btn-lg btn-block  shadow-p" [disabled]="!userForm.valid || isLoading" [class]="userForm.valid && !isLoading ? 'cyan darken-1 white-text':''" (click)="onSubmit()">Registrarse</button>
                </div>
            </form>
            <hr>
            <p class="roboto text-center">
                Al registrarse acepta nuestra <a routerLink="/tos" class="black-text"><strong>Condiciones</strong> y <strong>Políticas de privacidad</strong></a>
            </p>
            <p class="text-center">Tienes una cuenta <a class="btn btn-link roboto black-text" routerLink="/login">Ingresa</a></p>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="roboto col-md-12">
    </div>
</div>
<div class="roboto" style="width: 100%;">
    
</div>
