  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card shadow-p">
        <div class="row no-gutters">
          <div class="col-md-5">
            <!--<img src="../assets/images/login.jpg" alt="login" class="login-card-img hide-on-med-and-down">-->
            <img src="../assets/img/cuadro.png" alt="login" 
              class="login-card-img hide-on-small-only img-placeholder"
              style="background-image: url(/assets/img/o2.jpg) ;"
            >
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="../assets/images/logo.jpg" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Ingrese su cuenta</p>
              <form [formGroup]="datosForm" >
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="loginUsuario" id="email" class="form-control" placeholder="Email address" formControlName="loginUsuario">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="passwordUsuario" id="password" class="form-control" placeholder="***********" formControlName="passwordUsuario">
                  </div>
                  <!-- <input routerlink="/listProvider" name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Ingresar"> -->
                  <button class="btn btn-block login-btn mb-4" type="submit" (click)="onSubmit()" >Ingresar</button>
              </form>
                <a href="#!" class="forgot-password-link">¿Olvido su contraseña?</a>
                <p class="login-card-footer-text">¿No tienes una cuenta? <a routerLink="/register" class="text-reset">Registrate aqui</a></p>
                <nav class="login-card-footer-nav">
                  <a href="#!">Terminos y condiciones</a>
                  <a href="#!">Politicas de privacidad</a>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>