<img class="banner"  src="/assets/img/rectangulo2.png" style="background-image: url({{provider.image}});">
<div class="card mb-2 roboto shadow-p" style="width: 100%;">
    <div class="card-body">
        <h3 class="roboto">{{provider.name}}</h3>
        <ul class="list-provider">
            <li><strong>Direccion</strong> {{provider.address}}</li>
            <li><strong>RUC</strong> {{provider.ruc}}</li>
            <li><strong>Horario de atención</strong> {{provider.hourStart}}:00 - {{provider.hourEnd}}:00</li>
            <li>
                <strong>Correo</strong>&nbsp;<!--<i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;<i class="fa fa-money" aria-hidden="true"></i>-->{{provider.email}}
            </li>
        </ul>
    </div>
</div>
<div class="row roboto">
    <div class="col-lg-4 col-md-6" *ngFor="let item of products; index as i;">
        <div class="card mb-2 shadow-p" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <img class="placeholder-image" style="background-image:url({{item.image}})" src="/assets/img/cuadro.png" alt="">
                    </div>
                    <div class="col-9">
                        <ul class="list-provider">
                            <li><strong>{{item.name}}</strong></li>
                            <li><strong>Precio</strong> S/. {{item.price}}</li>
                            <li>
                                <br>
                            </li>
                            <button (click)="reserve(item)" type="button" class="btn btn-light shadow-p font-weight-normal roboto">Reservar</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="products.length < 1">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Uppss!</strong> El proveedor {{provider.name}} aun no tiene productos para mostrar.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
