<div style="margin-top: 25px;"></div>
<div style="padding:5px;text-align: justify;">
    <h2>Acerca de OXI OK</h2>
    <br><br>
    <p class="roboto">
        Somos una organización sin fines de lucro que opera en la región Lima, que surgió de una idea de un grupo de estudiantes de UPC.
    </p>
    <p class="roboto">
        El equipo cuenta con 6 colaboradores, es la base que nos permitió llegar hasta donde estamos manteniendo nuestros valores e identificación con el cliente.
    </p>
    <p class="roboto">
        La prioridad de nuestra empresa es prestar un servicio de calidad al mejor precio, permitiendo a nuestros clientes realizar una compra inteligente, respetando sus necesidades en todo momento.
    </p>
    <h4>Integrantes</h4>
    <ul class="roboto">
        <li><strong>u201621174</strong> (Gonzales Cotrina, Kenny Robertson)</li>
        <li><strong>u201014699</strong> (Cornejo Salazar, Jorge Alan)</li>
        <li><strong>u201723835</strong> (Garcia Montero, Carlos Alejandro)</li>
        <li><strong>u201321796</strong> (Cueva Gonzales, Paul Giomar)</li>
        <li><strong>u201317633</strong> (Recuay Yanayaco, Jose Luis)</li>
        <li><strong>u201625131</strong> (Castillo Llerena, Jorge Ronald)</li>
    </ul>
</div>





.




